<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>introduction</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
     <tr>
       <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpeg",size: "40x40" %></td>
       <td><%= link_to user.name,user_name_pasth(user) %></td>
       <td><%= user.introduction %></td>
     </tr>
    <% end %>
  </tbody>
</table>
<%= render 'books/footer', user: @user,book: @book %>
